/* MyShows.css */


.my-shows-container {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  position: relative
}

.cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

.content {
  position: absolute;
  top: 20%;
  padding: 2rem; /* You can adjust the padding as needed */
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.list__grid{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
 padding: 3rem
 
}

.back{
  position: absolute;
  top: 4rem;

}